@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Open+Sans:wght@400;600;700&display=swap");

$montserrat-typography: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(251, 251, 251);
  font-family: $montserrat-typography;
  color: #ff7a00;
  min-height: 600px;
  min-width: 1024px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}
